<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.afpa.joulare">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Joulare">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ParamActivity"></activity>

        <activity android:name=".LangActivity"></activity>

        <activity android:name=".RankActivity"></activity>

        <activity android:name=".NameActivity"></activity>

        <activity android:name=".GameOnActivity"></activity>

        <service android:enabled="true"
                 android:name=".audio.BackgroundSoundService"/>
    </application>
</manifest>